apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: visitors-pvc
  namespace: ether
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
